.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkcyan;
    padding: 10px;

    nav {
        display: flex;
        gap: 15px;

        a {
            &:hover {
                color: white;
            }
        }
    }
}